{% extends "./views/Template.html" %}
{% block header %}
{% include "./views/Template/header.html" %}
{% include "./views/Template/menu.html" %}


{% endblock %}

{% block body %}<section id="feature">
<div class="container">
    <div class="jumbotron newjumbotron">
        <div class="injumbotron">
            <div class="row">       <h1 class="text-center mysize">Secretariat Hotline</h1>
            <div class="col-md-6">

            <p>Ms. Saysavanh SOUDACHANH<p></p>
            <p>+85620 55510825   </p>
            <p>Mail: <a class="emailcolor" href="mailto:#">savanh_9@hotmail.com</a></p>
            <hr>
            <p>Mr. Vingthong SACKDARA</p>
            <p>+85620 55694771</p>
            <p>Mail: <a class="emailcolor" href="mailto:#">Viengthong@hotmail.com</a></p>
            <hr>
            <p>Ms. Phouthamaly SENGPHAATHITH</p>
            <p>+85620 56175700</p>
            <p>Mail: <a class="emailcolor" href="mailto:#">onnykvs@gmail.com</a></p>
            </div>
            <div class="col-md-6">

            </div>
            </div>
        </div>
        <div class="top-buffer"></div>
        <div class="row" style="margin-top:5px">
            <div class="col-md-6 hapuatextcolor">
                <div class="space"></div>
                <h2 class="mysize2 hapuatextcolor">Don Chan Palace Hotel & Convention</h2>
                <p></p>
                <p>Please use the form below to send us your general questions
                    and comments about this website. For room reservations please
                    use booking form available in reservations section on
                    this web site. You can contact our office at
                    Don Chan Palace Hotel & Convention.
                </p>
                <p></p>
                <address>
                    Address: Unit 6, Pivat Village, Sisatanak District,
                    Vientiane, Lao PDR
                    Phone: (856) 21 226 666 or 244 288
                    Fax: (856) 21 244 111-2
                </address>
            </div>
            <div class="col-md-6">
                <img src="../public/images/Hotel.jpg?v=20150501" class="img-thumbnail">
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
            <h2 class="hapuatextcolor">Our location:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3795.50538984779!2d102.615134!3d17.955209!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5758a48a7e28cbe!2sDon+Chan+Palace!5e0!3m2!1sen!2sus!4v1461637922305" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
</section>
{% include "./views/Template/footer.html" %}
{% endblock %}