{% extends "./views/Template.html" %}
{% block header %}
{% include "./views/Template/header.html" %}
{% include "./views/Template/menu.html" %}


{% endblock %}

{% block body %}
<section id="feature" >
    <div class="container">
        <div class="jumbotron newjumbotron">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">  <img class="eldimg" src="../public/images/EDL-Logo.png?v=20150501"></div>
                    <div class="col-md-6">  <h1 class="textedl">EDL’s development strategy</h1></div>
                </div>
                <div class="col-md-12">
                    <p class="hapuatextcolor">Electricite Du Laos is the company owned by Government of Lao PDR, it is the
                        heart for the infrastructure and social – economic development of the nation
                        growing up consecutively and increasingly. Under the brightly direction of Lao
                        People Revolution Party and Government to get rid of the country  from
                        underdeveloped in 2020, creating the pace to cross over the underdeveloped
                        country successfully in 2025, enhancing to the developed country with the
                        revenue ranking from moderate to high level in 2030 by the development of
                        power energy sources adequately to increase the domestic demand in the
                        future steadily and the rest will be export, to continue development of the
                        national transmission line system to be linked to rural, to connect the national
                        transmission line system to regional countries, can do transaction of power
                        the future, what will attract the huge revenues to the nation for national socio-
                        economic development powerfully, and to motivate the Gross Domestic
                        Product (GDP) to be expanded consecutively and achieve the target of the
                        national socio-economic development strategy in the future.</p>
                    <br>
                </div>

                <!--<div class="col-md-12 imgedl2">-->
                   <!--<div class="col-md-6 imgedl2">  <img class="img-fluid" width="100%" src="../public/images/ex2.jpg"></div>-->
                   <!--<div class="col-md-6 imgedl2">  <img class="img-fluid" width="100%" src="../public/images/ex1.jpg"></div>-->
                <!--</div>-->

                    <!--<p class="hapuatextcolor">To respond the vision and strategy of Party and Government set forth, EDL has-->
                        <!--published the leaflet “Laos is civilized under the Party’s leadership” to-->
                        <!--disseminate and make the reader understanding about the vision and strategy-->
                        <!--he future under the party’s direction. This concept; some sectors utilize the-->
                        <!--lesson acquired from the important international dialogue meeting such as:-->
                        <!--participated in the “One Belt One Road” under chairmanship by H.E. Si Jin </p>-->
                <div class="col-md-12 imgedl2">  <img class="imgshadow" width="100%" src="../public/images/edl1.jpg?v=20150501"></div><br>
                <div class="col-md-12 imgedl2">  <img class="imgshadow" width="100%" src="../public/images/edl2.jpg?v=20150501"></div><br>
                <div class="col-md-12 imgedl2">  <img class="imgshadow" width="100%" src="../public/images/edl3.jpg?v=20150501"></div><br>

            </div>
         </div>
    </div>
</section>

{% include "./views/Template/footer.html" %}
{% endblock %}