{% extends "./views/Template.html" %}
{% block header %}
{% include "./views/Template/header.html" %}
{% include "./views/Template/menu.html" %}
{% endblock %}

{% block body %}
<section id="feature" >
    <div class="container">
        <div class="jumbotron newjumbotron">
            <div class="hapuahistory">
                <h1 class="text-center mysize">HAPUA HISTORY</h1>
                <br>
                <p>Heads of ASEAN Power Utilities/Authorities (HAPUA ) established in year 1981, by 5 (five) member countries
                    namely:</p>
                 <p>   1. Indonesia</p>
                 <p>   2. Malaysia</p>
                 <p>   3. Philiipines</p>
                 <p>   4. Singapore</p>
                 <p>   5. Thailand</p>
                <br>
                 <p>   In 12th Meeting of the HAPUA held in 1996 in Bali, the MOU of the Forum of the HAPUA has been assigned
                    by 7 member countries included Brunei Darussalam and Vietnam, with 10 Project Cooperation are classified
                    under two categories :</p>
                <br>
                <p>    Category A has 4 Project Groups : to hold annual meeting</p><p></p>
                <p>   1. Interconnection (Focal Point : Malaysia)</p>
                <p>   2. Research, Development and Engineering (Focal Point : Indonesia)</p>
                <p>   3. Training and Development (Focal Point : Malaysia)</p>
                <p>    4. Corporatisation/Privatization of Power Utlities (Focal Point : Phlippines)</p>
                <br>
                <p>    Category B has 6 Project Groups, Networking arrangemnet and to hold the meeting only after obataining
                    approval from the forum HAPUA</p>
                <p>    1. Micro/Mini-Hydro Development (Focal Point : Indonesia)</p>
                <p>    2. Rural and Urban Electrification (Focal Point : Thailand)</p>
                <p>    3. Standardization (Focal Point : Singapore)</p>
                <p>    4. Electric Power Information Center (EPIC) (Focal Point : Thailand)</p>
                <p>    5. Use of Combined Cycle Power Plant (Focal Point: Thailand)</p>
                <p>    6. Geothermal Energy Development (Focal Point : Philippines)</p>
                <br>
                <p>  In the 20th Meeting of the HAPUA held in May 2004 in Siem Reap, Cambodia has been assigned by all
                    member countries for the new structure of HAPUA orgnization :</p>
                 <p>  - HAPUA Council</p>
                 <p>   - HAPUA Secretariat - Indonesia</p>
                 <p>   - HAPUA Country Coordinator</p>
                 <p>   - Project Coordinator for 8 HAPUA Working Group :</p>
                 <p>   1. Generation (Project Coordinator: Malaysia)</p>
                 <p>   2. Interconnection (Project Coordinator :Thailand</p>
                 <p>   3. Distribution (Project Coordinator : Indonesia)</p>
                 <p>   4. Renewable Energy ( Project Coordinator : Vietnam)</p>
                 <p>   5. Electricity Suppply Industry (ESI) (Project Coordinator : Philippines)</p>
                 <p>   6. Resource Development (Project Coordinator : Thailand)</p>
                 <p>   7. Power Reliablility and Quality (Project Coordinator : Singapore)</p>
                 <p>   8. Human Resourse (Project Coordinator : Malaysia)</p>
                <br>
               <p>    The 27th Meeting HAPUA Council in June 2011 in Danang City, Vietnam agreed and adopted the new
                    restructuring of the HAPUA Working Group :</p>
                <p>  1. Generation (Chairman : Indonesia and Vice Chairman : Lao PDR)</p>
                 <p>  2. Transmission /APG (Chairman : Thailand and Vice Chairman : Vietnam</p>
                 <p>  3. Distribution and PQR (Chairman : Singapore and Vice Chairman : Myanmar)</p>
<p></p>


            </div>
        </div>
    </div>
</section>
{% include "./views/Template/footer.html" %}
{% endblock %}