<section id="slider">
    <div class="main-slider">

        <div class="single-slide">
            <a href="http://www.visit-laos.com/vientiane/wat-ho-phra-keo.htm">  <img src="../public/images/cover/wathophrakeo.jpg?v=1" alt="img"></a>
        </div>
        <div class="single-slide">
            <a href="http://en.vietnamitasenmadrid.com/laos/pha-that-luang.html"><img src="../public/images/cover/That-Luang.jpg?v=1" alt="img"></a>
        </div>
        <div class="single-slide">
            <a href="http://en.vietnamitasenmadrid.com/laos/buddha-park.html ">  <img src="../public/images/cover/buddha-park.jpg?v=1" alt="img"></a>
        </div>
        <div class="single-slide">
            <a href="http://www.visit-laos.com/vientiane/patuxai-victory-monument.htm">  <img src="../public/images/cover/patuxay2.jpg?v=1" alt="img"></a>
        </div>
        <div class="single-slide">
            <a href="http://www.visit-laos.com/vientiane/wat-si-muang.htm">  <img src="../public/images/cover/wutseemueng.jpg?v=1" alt="img"></a>
        </div>
    </div>
</section>