<header id="header">
    <div class="header-bottom">
        <div class="container">
            <!--<div class="row">-->
                <!--<div class="col-md-4 col-sm-3 col-xs-3">-->
                    <!--<div class="">-->
                        <!--<a class="navbar-brand" href="#"><img class="logoimg" src="/public/images/Logo_Asean.png" alt="logo"></a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-3 col-xs-3">-->
                    <!--<div class="">-->
                        <!--<a class="navbar-brand" href="#"><img class="logoimg" src="/public/images/Hapua-LOGO.png" alt="logo"></a>-->
                        <!--&lt;!&ndash;<a class="navbar-brand" href="#"><img class="logoimg logolcenter" src="/public/images/Hapua-LOGO.png" alt="logo"></a>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-3 col-xs-3">-->
                    <!--<div class="logol">-->
                        <!--<a class="navbar-brand" href="#"><img class="logoimg" src="/public/images/EDL-Logo.png" alt="logo"></a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div> -->
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-4">
                    <a class="navbar-brand" href="#"><img class="logoimg" src="/public/images/Logo_Asean.png?v=20150501" alt="logo"></a>
                </div>

                <!--<div class="col-md-4 col-sm-4"></div>-->

                <div class="col-md-5 col-sm-5 col-xs-3">
                    <a class="navbar-brand" href="#"><img class="logoimg" src="/public/images/Hapua-LOGO.png?v=20150501" alt="logo"></a>
                    <!--<a class="navbar-brand" href="#"><img class="logoimg logolcenter" src="/public/images/Hapua-LOGO.png" alt="logo"></a>-->
                </div>
                <!--<div class="col-md-4 col-sm-4"></div>-->

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a class="navbar-brand" href="#"><img class="logoimg" src="/public/images/EDL-Logo.png?v=20150501" alt="logo"></a>
                </div>

        </div>
        </div>
    </div>
</header>